version: "3.9"

services:
  api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      DB_URL: ${DB_URL}
    depends_on:
      - db

  worker:
    env_file:
      - .env
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    environment:
      DB_URL: ${DB_URL}
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      DATABASE_URL: ${DB_URL}
    ports:
      - "${DB_PORT}:5432"

  migrate:
    image: golang:1.25.3-alpine
    env_file:
      - .env
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      DB_URL: ${DB_URL}
    entrypoint: >
      sh -c "
      go install github.com/pressly/goose/v3/cmd/goose@latest &&
      goose -dir migrations postgres \"$DB_URL\" up
      "